﻿body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.fancy {
    line-height: 0.5;
    text-align: center;
    font-size: 12px;
    margin: 15px 0px;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: -1px;
    width: 50px;
}

.fancy span:before {
    right: 25px;
    margin-right: 5px;
}

.fancy span:after {
    left: 25px;
    margin-left: 5px;

}
