﻿@model IEnumerable<ug.Models.Events.EEvent>

    @{
        ViewBag.Title = "Events";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Logs</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
            </tr>
        }
    </table>
