﻿<!DOCTYPE html>
<html>
<head>
    <title>Спецификация UseAndGo</title>
</head>
<body>

    <h1 id="useandgo">Спецификация UseAndGo</h1>
<ul>
<li><h3 id="rest-api">REST API</h3>
<ul>
<li>Регистрация / аутентификация</li>
<li>Пользователи</li>
<li>Контакты</li>
<li>Комнаты</li>
</ul>
</li>
<li><h3 id="section">Сигнальные сообщения</h3>
</li>
</ul>
<hr>
<h3 id="rest-api-1">REST API</h3>
<h4 id="section-1">Регистрация / Аутентификация</h4>
<ul>
<li><p>Регистрация</p>
<ul>
<li>запрос</li>
</ul>
<pre><code class="language-json">{
    &quot;url&quot;: &quot;POST: Account/RegisterUser&quot;,
    &quot;headers&quot;: {
             &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot; },
    &quot;body&quot;: {
            &quot;phone&quot;: &quot;(int) 79213245432&quot;,
            &quot;password&quot;: &quot;(string) myPassword123&quot; }
}
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">  { &quot;state&quot;: true }
</code></pre>
</li>
<li><p>Подтверждение кода</p>
<ul>
<li>запрос</li>
</ul>
<pre><code class="language-json">{
    &quot;url&quot;: &quot;POST: Account/ConfirmationCode &quot;,
    &quot;headers&quot;: {
           &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot; },
    &quot;body&quot;: {
          &quot;phone&quot;: &quot;(int) 79213245432&quot;,
          &quot;code&quot;: &quot;(int) 123456&quot; }
}
</code></pre>
<ul>
<li>ответ (200)
<pre><code class="language-json">  { &quot;state&quot;: true }
</code></pre>
</li>
</ul>
</li>
<li><p>Аутентификация</p>
<ul>
<li>запрос</li>
</ul>
<pre><code class="language-json">{
    &quot;url&quot;: &quot;POST: oauth/login &quot;,
    &quot;headers&quot;: {
             &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot; },
    &quot;body&quot;: {
            &quot;username&quot;: &quot;(int) 79213245432&quot;,
            &quot;password&quot;: &quot;(string) myPassword123&quot;,
            &quot;grant_type&quot;: &quot;(const string) password&quot;}
}
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">{
    &quot;access_token&quot;: &quot;vT_3bjfci8OYHJ92JcZE6qPd...&quot;,
    &quot;token_type&quot;: &quot;bearer&quot;,
    &quot;expires_in&quot;: 2591999
}
</code></pre>
</li>
<li><p>Валидация токена</p>
<ul>
<li>запрос
<pre><code class="language-json">{
    &quot;url&quot;: &quot;POST: Account/ValidateToken &quot;,
    &quot;headers&quot;: {
             &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot;,
             &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;},
    &quot;body&quot;: {
            &quot;token&quot;: &quot;(string) vT_3bjfci8OYHJ92JcZE6qPd...&quot;,
            &quot;password&quot;: &quot;(string) myPassword123&quot;,
            &quot;grant_type&quot;: &quot;(const string) password&quot;}
}
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">{ &quot;state&quot;: &quot;true&quot; }
</code></pre>
</li>
</ul>
</li>
</ul>
<h4 id="odata">Пользователи (odata)</h4>
<ul>
<li>Получить всех пользователей
<ul>
<li>запрос</li>
</ul>
<pre><code class="language-json">       {
           &quot;url&quot;: &quot;GET: odata/Users&quot;,
           &quot;headers&quot;: {
                    &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot;,
                    &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
       }
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">{
&quot;@odata.context&quot;: &quot;http://localhost:61124/odata/$metadata#Users&quot;,
&quot;value&quot;: [
    {
        &quot;Nummer&quot;: 2,
        &quot;Surname&quot;: null,
        &quot;Name&quot;: null,
        &quot;DateBirth&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
        &quot;LastLogin&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
        &quot;Email&quot;: &quot;79202550067@useandgo.online&quot;,
        &quot;PhoneNumber&quot;: &quot;79202550067&quot;,
        &quot;Id&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
        &quot;UserName&quot;: &quot;79202550067&quot;,
        &quot;Roles&quot;: []
    },
    {
        &quot;Nummer&quot;: 3,
        &quot;Surname&quot;: null,
        &quot;Name&quot;: null,
        &quot;DateBirth&quot;: &quot;2017-08-24T14:58:00.773+03:00&quot;,
        &quot;LastLogin&quot;: &quot;2017-08-24T14:58:00.773+03:00&quot;,
        &quot;Email&quot;: &quot;79601962733@useandgo.online&quot;,
        &quot;PhoneNumber&quot;: &quot;79601962733&quot;,
        &quot;Id&quot;: &quot;5a3078ad-8636-4695-9190-3275e5062d63&quot;,
        &quot;UserName&quot;: &quot;79601962733&quot;,
        &quot;Roles&quot;: []
    }
]
</code></pre>
</li>
</ul>
<p>}
```</p>
<h4 id="section-2">Получить всех друзей пользователя</h4>
<ul>
<li><p>запрос</p>
<pre><code class="language-json">       {
           &quot;url&quot;: &quot;GET: /odata/UserFriends?$expand=FriendUser&quot;,
           &quot;headers&quot;: {
                    &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot;,
                    &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
       }
</code></pre>
</li>
<li><p>ответ (200)</p>
<pre><code class="language-json">   {
    &quot;@odata.context&quot;: &quot;http://localhost:61124/odata/$metadata#UserFriends&quot;,
    &quot;value&quot;: [
        {
            &quot;id&quot;: 3,
            &quot;UserId&quot;: &quot;3751615e-4a1c-42f0-b4da-d605fae5d70d&quot;,
            &quot;UserIdFriend&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
            &quot;DateAdd&quot;: &quot;2017-08-24T11:36:56.64+03:00&quot;,
            &quot;FriendUser&quot;: {
                &quot;Nummer&quot;: 2,
                &quot;Surname&quot;: null,
                &quot;Name&quot;: null,
                &quot;DateBirth&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                &quot;LastLogin&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                &quot;Email&quot;: &quot;79202550067@useandgo.online&quot;,
                &quot;PhoneNumber&quot;: &quot;79202550067&quot;,
                &quot;Id&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
                &quot;UserName&quot;: &quot;79202550067&quot;,
                &quot;Roles&quot;: []
            }
        }
    ]
    }
</code></pre>
</li>
</ul>
<h4 id="section-3">Получить все приглашения в друзья</h4>
<ul>
<li><p>запрос</p>
<pre><code class="language-json">    {
        &quot;url&quot;: &quot;GET: odata/UserInvitations&quot;,
        &quot;headers&quot;: {
                    &quot;Content-Type&quot;: &quot;application/x-www-form-urlencoded&quot;,
                    &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
    }
</code></pre>
</li>
<li><p>ответ (200)</p>
<pre><code class="language-json">    {
        &quot;@odata.context&quot;: &quot;http://localhost:61124/odata/$metadata#UserInvitations&quot;,
        &quot;value&quot;: []
    }
</code></pre>
</li>
</ul>
<h2 id="section-4">Контакты</h2>
<h4 id="section-5">Получить все контакты пользователя</h4>
<p>Если в ответе  в обьекте Phones в поле ContactUserId есть значение, то этот человек у Вас в друзьях</p>
<ul>
<li><p>запрос</p>
<pre><code class="language-json">    {
        &quot;url&quot;: &quot;GET: /odata/Contacts?$expand=Phones&quot;,
        &quot;headers&quot;: {
                 &quot;Content-Type&quot;: &quot;application/json&quot;,
                 &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
    }
</code></pre>
</li>
<li><p>ответ (200)</p>
<pre><code class="language-json">   {
    &quot;@odata.context&quot;: GET: &quot;odata/$metadata#Contacts&quot;,
    &quot;value&quot;: [
        {
            &quot;id&quot;: 5970,
            &quot;LocalId&quot;: &quot;16692C48-27B9-4927-9F2C-60BA854C482F&quot;,
            &quot;FirstName&quot;: &quot;Женя&quot;,
            &quot;SecondName&quot;: &quot;Абашин&quot;,
            &quot;Company&quot;: &quot;&quot;,
            &quot;UserId&quot;: &quot;3751615e-4a1c-42f0-b4da-d605fae5d70d&quot;,
            &quot;DateAdd&quot;: &quot;2017-08-28T14:42:21.647+03:00&quot;,
            &quot;isDelete&quot;: false,
            &quot;Phones&quot;: [
                {
                    &quot;id&quot;: 6331,
                    &quot;Tel&quot;: &quot;79047892904&quot;,
                    &quot;ContactId&quot;: 5970,
                    &quot;ContactUserId&quot;: null,
                    &quot;DateAdd&quot;: &quot;2017-08-28T14:42:21.647+03:00&quot;
                }
            ]
        },
        {
            &quot;id&quot;: 5971,
            &quot;LocalId&quot;: &quot;9CA44382-475B-4CB0-8883-811B3D3AAE9E&quot;,
            &quot;FirstName&quot;: &quot;Саша&quot;,
            &quot;SecondName&quot;: &quot;Ава&quot;,
            &quot;Company&quot;: &quot;&quot;,
            &quot;UserId&quot;: &quot;3751615e-4a1c-42f0-b4da-d605fae5d70d&quot;,
            &quot;DateAdd&quot;: &quot;2017-08-28T14:42:21.76+03:00&quot;,
            &quot;isDelete&quot;: false,
            &quot;Phones&quot;: [
                {
                    &quot;id&quot;: 6332,
                    &quot;Tel&quot;: &quot;79040654374&quot;,
                    &quot;ContactId&quot;: 5971,
                    &quot;ContactUserId&quot;: null,
                    &quot;DateAdd&quot;: &quot;2017-08-28T14:42:21.76+03:00&quot;
                }
            ]
        }]
    }
</code></pre>
</li>
</ul>
<h4 id="x">Получить всеx друзей в контактах (через функцию):</h4>
<p>данный запрос  удобен тем, что возвращает все идентификаторы друга, а так же комнату с
которой он ассоциирован с пользователем</p>
<ul>
<li><p>запрос</p>
<pre><code class="language-json">{
    &quot;url&quot;: &quot;POST: odata/Contacts/Func.Friends&quot;,
    &quot;headers&quot;: {
                &quot;Content-Type&quot;: &quot;application/json&quot;,
                &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
}
</code></pre>
</li>
<li><p>ответ (200)</p>
<pre><code class="language-json">    {
    &quot;Contacts&quot;: [
            {
                &quot;Phones&quot;: [
                    {
                        &quot;Phone&quot;: &quot;79202550067&quot;,
                        &quot;RoomId&quot;: 2,
                        &quot;ContactUserId&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;
                    }
                ],
                &quot;LocalId&quot;: &quot;CCA2F0B8-155D-4682-BFC2-F23E93B43823&quot;,
                &quot;FirstName&quot;: &quot;Сергей&quot;,
                &quot;SecondName&quot;: &quot;Балашов&quot;,
                &quot;Company&quot;: &quot;&quot;
            }
        ]
    }
</code></pre>
</li>
</ul>
<h4 id="x-1">Получить всеx друзей в контактах (через роут)</h4>
<ul>
<li><p>запрос</p>
<pre><code class="language-json">    {
        &quot;url&quot;: &quot;GET: odata/UserFriends?$expand=FriendUser&quot;,
        &quot;headers&quot;: {
                 &quot;Content-Type&quot;: &quot;application/json&quot;,
                 &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
    }
</code></pre>
</li>
<li><p>ответ (200)</p>
<pre><code class="language-json">{
&quot;@odata.context&quot;: &quot;odata/$metadata#UserFriends&quot;,
&quot;value&quot;: [
        {
            &quot;id&quot;: 3,
            &quot;UserId&quot;: &quot;3751615e-4a1c-42f0-b4da-d605fae5d70d&quot;,
            &quot;UserIdFriend&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
            &quot;DateAdd&quot;: &quot;2017-08-24T11:36:56.64+03:00&quot;,
            &quot;FriendUser&quot;: {
                &quot;Nummer&quot;: 2,
                &quot;Surname&quot;: null,
                &quot;Name&quot;: null,
                &quot;DateBirth&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                &quot;LastLogin&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                &quot;Email&quot;: &quot;79202550067@useandgo.online&quot;,
                &quot;PhoneNumber&quot;: &quot;79202550067&quot;,
                &quot;Id&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
                &quot;UserName&quot;: &quot;79202550067&quot;,
                &quot;Roles&quot;: []
            }
        }
    ]
}
</code></pre>
</li>
</ul>
<h4 id="section-6">Добавить / перезаписать контакты - через функцию</h4>
<ul>
<li><p>запрос (mode: add - просто добавить, rw - перезаписать)</p>
<pre><code class="language-json">    {
        &quot;url&quot;: &quot;POST: /odata/Contacts/Func.Set&quot;,
        &quot;headers&quot;: {
                    &quot;Content-Type&quot;: &quot;application/json&quot;,
                    &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;},
        &quot;body&quot;: {
                &quot;Mode&quot;: &quot;add&quot;,
                &quot;Contacts&quot;: [
                    {
                        &quot;LocalId&quot;: &quot;16692C48-27B9-4927-9F2C-60BA854C482F&quot;,
                        &quot;FirstName&quot;: &quot;Женя&quot;,
                        &quot;Company&quot;: &quot;&quot;,
                        &quot;SecondName&quot;: &quot;Абашин&quot;,
                        &quot;Phones&quot;: [
                            {&quot;Phone&quot;: &quot;79047892904&quot;}
                        ]
                    }
                ]
        }
    }
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">{ &quot;state&quot;: true }
</code></pre>
</li>
</ul>
<h3 id="section-7">Комнаты</h3>
<h4 id="section-8">Получить комнаты пользователя с друзьями</h4>
<ul>
<li><p>Запрос</p>
<pre><code class="language-json">    {
        &quot;url&quot;: &quot;GET: odata/Room?$expand=UserRooms($expand=User)&quot;,
        &quot;headers&quot;: {
                 &quot;Content-Type&quot;: &quot;application/json&quot;,
                 &quot;Authorization&quot;: &quot;bearer {{yourToken}}&quot;}
    }
</code></pre>
</li>
<li><p>Ответ (200)</p>
<pre><code class="language-json">    {
&quot;@odata.context&quot;: &quot;http://localhost:61124/odata/$metadata#Room&quot;,
&quot;value&quot;: [
    {
        &quot;id&quot;: 2,
        &quot;DateAdd&quot;: &quot;2017-08-24T11:36:56.647+03:00&quot;,
        &quot;UserRooms&quot;: [
            {
                &quot;id&quot;: 4,
                &quot;UserId&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
                &quot;RoomId&quot;: 2,
                &quot;DateAdd&quot;: &quot;2017-08-24T11:36:56.66+03:00&quot;,
                &quot;User&quot;: {
                    &quot;Nummer&quot;: 2,
                    &quot;Surname&quot;: null,
                    &quot;Name&quot;: null,
                    &quot;DateBirth&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                    &quot;LastLogin&quot;: &quot;2017-08-24T10:10:30.37+03:00&quot;,
                    &quot;Email&quot;: &quot;79202550067@useandgo.online&quot;,
                    &quot;PhoneNumber&quot;: &quot;79202550067&quot;,
                    &quot;Id&quot;: &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot;,
                    &quot;UserName&quot;: &quot;79202550067&quot;,
                    &quot;Roles&quot;: []
                }
            }
        ]
    }
]
}
</code></pre>
<ul>
<li>ответ (200)</li>
</ul>
<pre><code class="language-json">{ &quot;state&quot;: true }
</code></pre>
</li>
</ul>
<h3 id="section-9">Сигнальные сообщения</h3>
<h4 id="section-10">Исходящие сообытия:</h4>
<ul>
<li>Войти в систему сообщений <code>Login(string Token)</code></li>
<li>Получить онлайн друзей <code>getOnlineFriends()</code></li>
<li>Отправить запрос в друзья <code>AddUserInvations(string UserID)</code></li>
<li>Исходящий вызов <code>OutgoingCall(string UserId)</code></li>
<li>Отменить вызов <code>RejectInitiator(string UserId)</code></li>
<li>Принять вызов <code>AcceptСall(string UserId)</code></li>
<li>Сигнальное сообщение <code>SignalingMessage(SignalingMessage message)</code></li>
<li>Принять приглашение <code>AcceptInvations(int id)</code></li>
<li>Отменить приглашение <code>RejectInvations(int id)</code></li>
<li>Получить список приглашений в друзья <code>GetUserInvations()</code></li>
</ul>
<h4 id="section-11">Входящие события</h4>
<ul>
<li>Удачный вход <code>SuccessfulLogin(DateTime.Now)</code></li>
<li>Ошибка входа <code>ErrorLogin(string &quot;Error Token&quot;)</code></li>
<li>Получить ICE сервера <code>ICE(ICE ice)</code></li>
<li>Изменился статус друга (онлайн / оффлайн)</li>
</ul>
<pre><code class="language-js">ChangeFriendState({ 
        status = &quot;online&quot;, 
        id = &quot;540f9af4-b804-48cb-9c47-47921ae8bf5c&quot; 
    })
</code></pre>
<ul>
<li>Друзья онлайн <code>onlineFriends(List&lt;string&gt; phones)</code></li>
<li>Запрос на добавление <code>AddUserInvations(string id)</code></li>
<li>Запрос на добавление отправлен <code>SuccessAddUserInvations(&quot;Success Add User&quot;)</code></li>
<li>Запрос на добаленине принят <code>AcceptInvations(bool true)</code></li>
<li>Запрос на добавление отклонен <code>RejectInvations(bool true)</code></li>
<li>Список приглашений в друзья <code>UserInvations(List&lt;UserInvations&gt; invations)</code></li>
<li>Входящий звонок <code>NewCall(string UserId)</code></li>
<li>Отменили звонок <code>RejectInitiator(string UserId)</code></li>
<li>Приняли приглашение на звонок <code>AcceptСall(int IdRoom)</code></li>
<li>Сигнальное сообщение <code>SignalingMessage(SignalingMessage message)</code></li>
</ul>
<h4 id="section-12">Приложение: интерфейсы сообщений</h4>
<ul>
<li><strong>SignalingMessage</strong></li>
</ul>
<pre><code class="language-charp">class SignalingMessage
    {
        public string to;
        public string type;
        public int roomId;
        public string roomType;
        public dynamic body;
    };

</code></pre>


</body>
</html>